@mixin circle($width, $height, $background-color, $border-color) {
    width: $width;
    height: $height;
    background-color: $background-color;
    border-radius: 50%;
    outline: 2px solid $border-color;
}
    