.avatar {
  @include circle($green-lemon, $black);

  &--small {
    width: $circle-size-small;
    height: $circle-size-small;
  }

  &--medium {
    width: $circle-size-medium;
    height: $circle-size-medium;
  }
  display: flex;

  &--image {
    margin: auto;
  }
}
