.avatar {
  @include circle($black);

  &--small {
    width: $circle-size-small;
    height: $circle-size-small;
  }

  &--medium {
    width: $circle-size-medium;
    height: $circle-size-medium;
  }

  &--image{
    width: inherit;
    padding: 5px
  }


}

.chatbot-container:has(div, article) div:first-child {
  background-color: $green-lemon;
}

.chatbot-container:has(div, article) div:last-child {
  background-color: $orange;
}


