.container {
  font-family: Inter, sans-serif;
  container: mobile / inline-size;
  margin-block: 1rem
}

.chatbot {
  margin-inline: 12rem;
}

.red {
  color: $red
}

.blue{
  color: $blue;
}

.bg-fuchsia {
  background-color: $fuchsia;
}

.bg-green{
  background-color: $green-lemon;
}

.bg-orange{
  background-color: $orange;
}

.bg-dark-green{
  background-color: $green-dark;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 1rem;
  color: $white;
}

.chatbot-send{
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

.chatbot-send textarea{
  padding: 1rem
}

.chatbot-container:nth-child(even){
  justify-content: end;  

}

@container mobile (width <= 1024px) {
  .chatbot{
    margin-inline: 1rem;
  }

  .header {
    grid-template-columns: 1fr;
  }

  .chatbot-send{
    grid-auto-flow: row
  }


 }

 @media (width <= 412px){
  .chatbot-container:nth-child(even){
    margin-left: 60px
  }

  .chatbot-container:nth-child(odd){
    margin-right: 60px
  }
 }

